
                  YOU ARE CONNECTED TO A RESTRICTED SYSTEM!

         Access to this system is allowed only to authorized users.
  Any unauthorized access will be prosecuted to the full extent of the law.
     Use of this system constitutes consent to monitoring and auditing.

\S
Kernel \r on an \m

